<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%intentsregistry.view.category.name"
            id="org.openintents.intentsregistry">
      </category>
      <view
            name="%intentsregistry.view.name"
            icon="icons/sample.gif"
            category="org.openintents.intentsregistry"
            class="org.openintents.intentsregistry.views.IntentsregistryView"
            id="org.openintents.intentsregistry.views.IntentsregistryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%intentsregistry.command.category.description"
            id="org.openintents.intentsregistry.commands.category"
            name="%intentsregistry.command.category.name">
      </category>
      <command
            categoryId="org.openintents.intentsregistry.commands.category"
            description="%open.intentsregistry.view.command.description"
            id="org.openintents.intentsregistry.commands.openView"
            name="%open.intentsregistry.view.command.name">
      </command>
      <command
            categoryId="org.openintents.intentsregistry.commands.category"
            description="%add.intentsregistry.command.description"
            id="org.openintents.intentsregistry.commands.add"
            name="%add.intentsregistry.command.name">
      </command>
      <command
            categoryId="org.openintents.intentsregistry.commands.category"
            defaultHandler="org.openintents.intentsregistry.handlers.OpenIntentsregistryFilterDialogHandler"
            id="org.openintents.intentsregistry.commands.openIntentsregistryFilterDialog"
            name="%open.intentsregistry.filter.dialog.command.name">
      </command>
      <command
            categoryId="org.openintents.intentsregistry.commands.category"
            defaultHandler="org.openintents.intentsregistry.handlers.OpenIntentsregistryHelpHandler"
            id="org.openintents.intentsregistry.openIntentsregistryHelp"
            name="Help...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="org.openintents.intentsregistry.menus.intentsregistryMenu"
               label="%intentsregistry.menu.label"
               mnemonic="%intentsregistry.v.menu.mnemonic">
            <command
                  commandId="org.openintents.intentsregistry.commands.openView"
                  icon="icons/sample.gif"
                  id="org.openintents.intentsregistry.menus.openIntentsregistryView"
                  mnemonic="%intentsregistry.O.command.mnemonic">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="org.openintents.intentsregistry.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.openintents.intentsregistry.commands.openIntentsregistryFilterDialog"
                  icon="icons/dialog.gif"
                  id="org.openintents.intentsregistry.menus.openIntentsregistryFilterDialog"
                  style="push">
            </command>
            <command
                  commandId="org.openintents.intentsregistry.openIntentsregistryHelp"
                  icon="icons/help.gif"
                  id="org.openintents.intentsregistry.menus.openIntentsregistryHelp"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%intentsregistry.menuContribution.menu.label">
            <command
                  commandId="org.openintents.intentsregistry.commands.add"
                  icon="icons/sample.gif"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.jdt.core.IJavaElement">
                              </instanceof>
                           </or>
                           <test
                                 property="org.openintents.intentsregistry.notFavorite">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:window?after=additions">
         <command
               commandId="org.openintents.intentsregistry.commands.openView"
               icon="icons/sample.gif"
               style="push"
               tooltip="%open.intentsregistry.view.command.tooltip.3">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.ui.DefaultTextEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openintents.intentsregistry.handlers.AddToIntentsregistryHandler"
            commandId="org.openintents.intentsregistry.commands.add">
      </handler>
      <handler
            class="org.openintents.intentsregistry.handlers.OpenIntentsregistryViewHandler"
            commandId="org.openintents.intentsregistry.commands.openView">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.openintents.intentsregistry.workbenchActionSet"
            label="%intentsregistry.actionSet.label"
            visible="true">
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.openintents.intentsregistry.PropertyTester.IntentsregistryTester"
            id="org.openintents.intentsregistry.propertyTester"
            namespace="org.openintents.intentsregistry"
            properties="isIntentsregistry, notIntentsregistry"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.openintents.intentsregistry.commands.add"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+A">
      </key>
   </extension>

</plugin>
